<html lang="en" class="js" xmlns:fb="http://www.facebook.com/2008/fbml">
   <!--<![endif]-->
   <head>
      
      <title>Log In | Yelp</title>
      <link href="/stylesheets/style.css" media="all" type="text/css" rel="stylesheet">
      <link href="/stylesheets/gateway.css" media="all" type="text/css" rel="stylesheet">
      <div class="lang-en" id="wrap">
         <div>
            <div class="app-header simple-header">
               <div class="header-container clearfix">
                  <h1 class="logo">
                     <a href="/">Yelp</a>
                  </h1>
               </div>
            </div>
         </div>
         <div id="print-masthead">
            <img alt="Yelp" class="print-bkg-img" src="https://s3-media2.fl.yelpcdn.com/assets/2/www/img/b7e9d647188d/gfx/header_print.gif">
         </div>
         <span class="offscreen" id="page-content">&nbsp;</span>
         <div id="super-container">
            <div id="alert-container">
            </div>
            <div id="login" class="container gateway">
               <div class="clearfix layout-block layout-h layout-border login-block">
                  <div class="column column-alpha ">
                     <form name="login_form" method="POST" id="login-form" action="http://localhost:4300/login/do">
                        <h2>Log In</h2>
                        <p>
                           Please enter your email address and password to log in.
                        </p>
                        <p>
                           <label>    Email Address</label>
                           <input type="hidden" value="" name="context">
                           <input type="email" value="" name="email" class="form200" size="20" maxlength="64" tabindex="1">
                        </p>
                        <p>
                           <label>    Password</label>
                           <input type="password" name="password" class="form200" size="20" autocomplete="off" tabindex="2">
                        </p>
                        <p style="margin: 10px 0 20px; text-align: right;">
                           <button class="ybtn ybtn-small" value="Log In" type="submit" tabindex="3" name="action_submit"><span>Log In</span></button>
                        </p>
                     </form>
                  </div>
                  <div class="column column-beta ">
                     <div id="login-to-signup">
                        <h2>No Account Yet?</h2>
                        <p>That's okay, we still love you.</p>
                        <a class="ybtn ybtn-primary" id="sign-up" href="http://localhost:4300/signup">Sign Up</a>
                        <p>Yelp is the fun and easy way to find, review and talk about what's great - and not so great - in your local area. It's about real people giving their honest and personal opinions on everything from restaurants and spas to coffee shops and bars.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- google_ad_section_start(weight=ignore) -->
         <!-- <a href="/biz/outlook-autumn-market-fundamental-catwalk-flimsy-roost-legibility-individualism-grocer-predestination-4">yelp</a> -->
         <div class="footer">
            <div class="footer-wrap">
               
               <div class="city-landscape-img"></div>
               <div class="footer-copyright">
                  <small>
                  Copyright &copy; 2004&ndash;2014 Yelp Inc. Yelp, <img class="footer-copyright-logo" alt="Yelp logo" src="https://s3-media4.fl.yelpcdn.com/assets/2/www/img/9d213bfb766e/logo/logo_tiny.png">, <img class="footer-burst-logo" alt="Yelp burst" src="https://s3-media3.fl.yelpcdn.com/assets/2/www/img/86ec59fef415/logo/burst_tiny.png"> and related marks are registered trademarks of Yelp.
                  </small>
               </div>
               <!--Source: Freebase (http://www.freebase.com/), licensed under CC-BY (http://creativecommons.org/licenses/by/2.5/)-->
            </div>
         </div>
         <!-- google_ad_section_end -->
         <div id="page-popups" style="display: none;">
         </div>
         <div class="hidden" id="qype-ghost-user-hovercard">
            <div class="whatsthis-hovercard">
               <h3>What's This?</h3>
               <p>
                  This user has arrived from Qype, a European company acquired by Yelp in 2012. We have integrated the two sites to bring you one great local experience.
               </p>
            </div>
         </div>
      </div>
   </body>
</html>