<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="http://hilios.github.io/jQuery.countdown/css/syntax.css">
  <link rel="stylesheet" href="http://hilios.github.io/jQuery.countdown/css/main.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.0.4/dist/jquery.countdown.min.js"></script>
</head>
<body>

<main>
<div class="container">
<div class="example-base">
  <span id="clock"></span>
</div>

<script type="text/javascript">
  // 15 days from now!
  var date = new Date(new Date().valueOf() + 15 * 24 * 60 * 60 * 1000);
  $('#clock').countdown(date, function(event) {
    $(this).html(event.strftime('%D days %H:%M:%S'));
  });
</script>



</main>

</body>
</html>
